<html>

<head>
<title>Propuesta Sigmum</title>
</head>

<body>
<h1>Propuesta Sigmum</h1>

<p>Aqui hay tres ejemplos de visualización</p>

<li> <a href='cirulos.html'>Circulos</a> </li> 
<li> <a href='piramide.html'>Piramide</a> </li> 
<li> <a href='filtros.html'>Filtros</a> </li> 

</body>
</html>
